{% extends "app/layout.html" %}
{% load i18n widget_tweaks %}

{% block content %}

    {% load static %}
    <div class="container-fluid">
        <div class="jumbotron-fluid">
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid" src="{% static "app/graphics/pizza.png" %}" width="100" height="100" alt="Pizza">
                </div>
                <div class="col-10">
                    <h1 class="display-4">{{ title }}</h1>
                    <p class="lead">{{ message }}</p>
                </div>
            </div>
        </div>

        <form class="form" action="/" method="post" id="pizza-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group form-row">
                <label class="col-form-label col-sm-3" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-9">{{ field|attr:"class:form-control" }}
                        {% if field.help_text %}
                            <p class="form-text text-muted"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <p>Equipment measurements are shown in <strong data-standard="US/Imperial units" data-metric="Metric units">US/Imperial units</strong> <span data-standard="(lbs, oz, in)" data-metric="(kg, ml, cm)">(lbs, oz, ft)</span>
        </form>
    </div>

    <main class="container">
        <br />
        <div class="row">
            <div class="col-md-5">
                <table id="recipe_table" class="table .w-auto"></table>
            </div>
            <div class="col-md-7 border-top">
                <h4>Instructions</h4>
                <ol>
                    <li>Combine flour, salt, and yeast in a large bowl and whisk until homogenous. Add water and incorporate into flour using hands until no dry flour remains on bottom of bowl. Cover bowl tightly with plastic wrap and allow to rise at room temperature for 8 to 12 hours.</li>
                    <li>Turn dough out onto lightly floured surface and divide into four even balls. Place each in a covered quart-sized deli container or in a zipper-lock freezer bag. Place in refrigerator and allow to rise at least 2 more days, and up to 4. Remove from refrigerator, shape into balls, and allow to rest at room temperature for at least 2 hours before baking.</li>
                    <li>Preheat the broiler to high and arrange the rack such that you can just barely fit a 12-inch heavy-bottomed oven-proof cast iron or stainless steel skillet on top of it. Dust skillet with flour, tap out excess, then heat the skillet over high heat and heat until lightly smoking, about three minutes.</li>
                    <li>Transfer one dough round to the skillet. It should fill up the entire bottom surface. Working quickly, spread two tablespoons sauce evenly over the dough, leaving the outer 1-inch border un-sauced. Top with 1/6 of the cheese chunks. Season with kosher salt. Drizzle with 1 tablespoon olive oil, and scatter four basil leaves over the surface. Transfer skillet to broiler and broil until pizza is puffed and darkly charred in spots (this can take anywhere between 1 1/2 to 4 minutes, depending on the strength of your broiler). Return the skillet to the stovetop and cook until the bottom is darkly charred in spots, using a thin metal spatula to peek after about 1 minute (depending on the skillet you use, you may skip this step if the pizza is already charred). Transfer the pizza to a cutting board and serve immediately. Repeat to bake remaining pizzas.</li>
                </ol>
            </div>
        </div>
    </main>



{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'app/scripts/pizza.js' %}"></script>

{% endblock %}
