{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead">{{ message }}</p>
       </div>
    </div>


    <main class="container">
        <form action="/" method="post" id="pizza-form">
                {% csrf_token %}
                {{ form }}
        </form>

        <div id="the_recipe">
            <h1>Recipe goes here</h1>
        </div>
    </main>


{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'app/scripts/pizza.js' %}"></script>

{% endblock %}
