{% extends "app/layout.html" %}
{% load i18n widget_tweaks %}

{% block content %}

    {% load static %}
    <div class="container-fluid">
        <div class="jumbotron-fluid">
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid" src="{% static "app/graphics/pizza.png" %}" width="100" height="100" alt="Pizza">
                </div>
                <div class="col-10">
                    <h1 class="display-4">{{ title }}</h1>
                    <p class="lead">{{ message }}</p>
                </div>
            </div>
        </div>

        <form class="form" action="/" method="post" id="pizza-form">
            {% csrf_token %}

            {% for field in form %}
                {% if field.name == "size" %}
                    <div class="form-row align-items-center input-group">
                        <label class="col-form-label col-sm-4 mb-2" for="id_{{ field.name }}">{{ field.label }} <span data-standard="(inches)" data-metric="(cm)"></span></label>                    
                        <div class="col-sm-8 mb-2">{{ field|attr:"class:form-control" }}</div>
                    </div>
                {% else %}
                    <div class="form-row align-items-center input-group">
                        <label class="col-form-label col-sm-4 mb-2" for="id_{{ field.name }}">{{ field.label }}</label>                    
                        <div class="col-sm-8 mb-2">{{ field|attr:"class:form-control" }}
                            {% if field.help_text %}
                                <p class="input-group-text text-muted"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>

    <main class="container">
        <br />
        <div class="row">
            <div class="col-md-5">
                <table id="recipe_table" class="table .w-auto"></table>
            </div>
            <div class="col-md-7 border-top">
                <h4>Instructions</h4>
                <ol id="recipe_directions">
                </ol>
                <h5>References</h5>
                <ul id="recipe_references">
                </ul>
            </div>
        </div>
    </main>



{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'app/scripts/pizza.js' %}"></script>

{% endblock %}
